body{
    margin: 0;
    padding: 0;
    background: url(C:\xampp\htdocs\Sistema\Biblioteca\resources\views\6832784.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}